#################
## PSoC Designer
#################

*/lib/obj
*/obj
*/output
*/std/obj
*/backup
*.hex
*.pep
linkfile
mkdep
opts.txt
VarOffset.xml
BuildMsg.txt
Templates
project.mk
*.log
*.lock
*~
project.dep
*.bak
*.pdb
Thumbs.db
*.a
*.o
*.lis
*.opt
*.s
*#*
